.login-container {
    background: #04AA6D;
    position: absolute;
    width: 332px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    height: 304px;
    padding: 40px 60px;
    border-radius: 10px;
    animation: slideUp 500ms;
  }

  span {
    color: white;
    font-weight: bold;
  }

  .btn-login {
    margin-top: 10px;
    margin-left: 80px
  }